---
import Layout from "@/layouts/Layout.astro";
import Navbar from '@/components/Navbar.astro'
import Footer from "@/sections/Footer.astro";
---

<Layout title="Maximo Dev | Projects">
  <Navbar />
  <main class="min-h-dvh mt-32">
    <h2 class="text-6xl text-center">Próximamente</h2>
  </main>
  <Footer />
</Layout>
