<div class="flex flex-col gap-y-2 my-12 max-w-md mx-auto text-pretty">
  <p class="font-semibold">
    My name is
    <span class="text-aqua/80">Maximo Dip Aparicio</span>
    but my friends call me Dip. I started programming about 5 years ago, when i was
    15.
  </p>
  <p class="font-semibold">
    I've been
    <span class="text-aqua/80"> developing projects</span>
    while doing my university carrer as a programmer. Those are the ones you can
    see above, on the
    <i>projects</i>
    section.
  </p>
  <p class="font-semibold">
    At the moment, i'm
    <span class="text-aqua/80"> looking for new opportunities.</span>
    My goals are to improve my skills as a developer, learning new technologies and
    creating great software.
  </p>
</div>
