<div class="flex mx-auto max-w-md justify-center flex-col m-12">
    <span class="text-left text-sm text-aqua/50">write your message for me</span>
    <div class="flex gap-x-4">
        <form action="POST">
            <input type="text" placeholder="hello..." class="p-2 rounded">
        </form>
        <button type="submit" class="hover:bg-aqua/50">send</button>
    </div>
</div>