---
import MenuIcon from "@/icons/MenuIcon.astro";
---

<button id="menuToggle" class="sm:hidden">
  <MenuIcon />
</button>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const responsiveMenu = document.getElementById("responsiveMenu");
    const menuToggle = document.getElementById("menuToggle");

    menuToggle.addEventListener("click", function () {
      responsiveMenu.classList.toggle("hidden");
    });

    window.addEventListener("scroll", () => {
      if (!responsiveMenu.classList.contains("hidden")) {
        responsiveMenu.classList.add("hidden");
      }
    });
  });
</script>
