<a
  {...Astro.props}
  class="flex items-center gap-x-2 bg-aqua/10 rounded-full hover:bg-aqua/30 duration-100 text-sm md:text-base
  text-black/70 dark:text-white/50 transition p-2 md:px-4"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
