<a
  {...Astro.props}
  class="flex items-center gap-x-2 bg-aqua2/10 rounded-full hover:bg-aqua2/30 duration-100 text-sm md:text-base p-2 md:px-4 sm:hover:scale-90"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
