<article class="flex flex-col mt-12 text-xl text-left max-w-lg mx-auto w-full">
  <h3 class="uppercase font-bold text-aqua/80">
    Universidad Tecnologica Nacional
  </h3>
  <h1 class="font-semibold">Associate degree, Computer Programming</h1>
  <span class="opacity-55">2022 - 2024</span>
</article>
