---
import SectionContainer from "@/components/SectionContainer.astro";
---

<SectionContainer>
  <footer class="py-6">
    <div class="w-full md:flex md:items-center md:justify-between">
      <span class="text-md sm:text-center"
        >© 2024 <a
          href="https://www.linkedin.com/in/maximodipaparicio/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline dark:text-aqua/80 text-aqua2">maximodip</a
        >.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-md font-medium sm:mt-0">
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Whatsapp</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Resume</a>
        </li>
      </ul>
    </div>
  </footer>
  <span class="text-sm"
    >Inspired by
    <a href="http://www.porfolio.dev" target="_blank" class="underline">
      porfolio.dev
    </a>
    from
    <a href="http://www.midu.dev" target="_blank" class="underline">
      @midudev</a
    >
  </span>
</SectionContainer>
