---
import SectionContainer from "@/components/SectionContainer.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<SectionContainer>
  <footer class="py-6">
    <div class="w-full md:flex md:items-center md:justify-between">
      <span class="text-md sm:text-center"
        >© 2024 <a
          href="https://www.linkedin.com/in/maximodipaparicio/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline dark:text-aqua/80 text-aqua2">maximodip</a
        >.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-md font-medium sm:mt-0">
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=3814057449&text"
            class="hover:underline me-4 md:me-6"
            target="_blank">Whatsapp</a
          >
        </li>
        <li>
          <a href="/CV.pdf" target="_blank" class="hover:underline"
            >{i18n.RESUME}</a
          >
        </li>
      </ul>
    </div>
  </footer>
</SectionContainer>
