---
import SectionContainer from "@/components/SectionContainer.astro";
import Book from "@/icons/Book.astro";
---

<SectionContainer id="experience" class="text-center sm:text-left text-pretty">
  <div class="flex items-center gap-2 mb-4 justify-center sm:justify-start">
    <h2 class="text-4xl opacity-70">Studies</h2>
    <Book />
  </div>
  <article class="flex flex-col">
    <h1 class="uppercase font-bold text-aqua2 dark:text-aqua/80 text-2xl">
      Universidad Tecnologica Nacional - UTN
    </h1>
    <h2 class="font-semibold text-xl">
      Associate degree, Computer Programming
    </h2>
    <span class="opacity-55">2022 - 2024</span>
  </article>
</SectionContainer>
