---
import GoUpButton from "@/components/GoUpButton.astro";
import { getLangFromUrl } from "../i18n/utils";
import "@fontsource-variable/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="transition-all duration-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      href="/icons8-man-technologist-emoji-16.png"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-4xl px-2 lg:px-10 mx-auto">
      <slot />
    </div>
    <GoUpButton />
  </body>
</html>

<script is:inline>
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", ({ matches }) => {
      if (matches) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    });
</script>

<style is:global>
  :root {
    color: #1f1f1f;
    background: #ddd;
  }

  .dark {
    color: #ddd;
    background: #1f1f1f;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;

    overflow-x: hidden;

    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
</style>
