---
import "@fontsource-variable/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="transition-all duration-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      href="/icons8-man-technologist-emoji-16.png"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="relative h-full w-full bg-slate-950">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"
      >
      </div>
    </div>
    <div class="max-w-4xl px-2 lg:px-10 mx-auto">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    color: #1f1f1f;
    background: #ddd;
  }

  .dark {
    color: #ddd;
    background: #1f1f1f;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;

    overflow-x: hidden;

    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
</style>
